@model Proje.Models.Entities.Chef
@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h5 class="card-header">Şefler - Düzenle</h5>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="ChefsDuzenle">
                    <input type="hidden" asp-for="Id" name="Id" />

                    <div class="text-center"><img style="max-width:300px;" src="~/assets/img/chefs/@Model.Image"></div>

                    <input name="Foto" asp-for="Image" class="form-control mb-3 mt-3" type="file" id="Image">
                    <div class="form-floating mb-3">
                        <input asp-for="Name" type="text" class="form-control" name="Name" id="Name" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Name">İsim</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Title" type="text" class="form-control" name="Title" id="Title" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Title">Ünvan</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Twitter" type="text" class="form-control" name="Twitter" id="Twitter" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Twitter">Twitter</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Facebook" type="text" class="form-control" name="Facebook" id="Facebook" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Facebook">Facebook</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Instagram" type="text" class="form-control" name="Instagram" id="Instagram" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Instagram">Instagram</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Linkedin" type="text" class="form-control" name="Linkedin" id="Linkedin" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Linkedin">Linkedin</label>

                    </div>
             
                    <div class="text-center row">
                        <div class="col-md-10">       <button type="submit" class="btn rounded-pill btn-dark w-100 mb-3">Kaydet</button></div>

                        <div class="col-md-2">
                            <a class="btn rounded-pill btn-secondary w-100" asp-controller="Admin" asp-action="Chefs">Vazgeç</a>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>