@model Proje.Models.Entities.Footer
@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Bootstrap Table with Header - Light -->
        <div class="card mb-4">
            <h5 class="card-header">Footer</h5>

            <div class="card-body">
                @if (TempData["Alert"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Alert"]
                    </div>
                }
                <form method="post" asp-controller="Admin" asp-action="Footer">
                    <input type="hidden" name="Id" asp-for="Id" />
                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" name="Baslik" id="Baslik" asp-for="Baslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Baslik">Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Aciklama" id="Aciklama" asp-for="Aciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Aciklama">Aciklama</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Icon1Link" id="Icon1Link" asp-for="Icon1Link" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Icon1Link">Icon1Link</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Icon2Link" id="Icon2Link" asp-for="Icon2Link" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Icon2Link">Icon2Link</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Icon3Link" id="Icon3Link" asp-for="Icon3Link" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Icon3Link">Icon3Link</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Icon4Link" id="Icon4Link" asp-for="Icon4Link" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Icon4Link">Icon4Link</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Icon5Link" id="Icon5Link" asp-for="Icon5Link" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Icon5Link">Icon5Link</label>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn rounded-pill btn-dark w-100">Kaydet</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>