@model Proje.Models.Entities.Urun
@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card h-100">
            <form method="post" asp-controller="Admin" asp-action="UrunSil">
                <input type="hidden" asp-for="Id" />
                <div class="card-body">
                    <h5 class="card-title"><strong>Ürün: </strong>@Model.UrunAdi </h5>
                    <h5 class="card-title"><strong>Kategori:</strong> @Model.UrunKategori.KategoriAdi</h5>
                    <h5 class="card-text">
                   <strong>Açıklama: </strong>@Model.UrunAciklama
                    </h5> 
                    <h5><strong>Fiyat: </strong>@Model.UrunFiyat ₺ </h5>
                    <h5 class="alert alert-danger">Yukarıda Bilgileri Verilen İçeriği Silmek İstiyor Musunuz ?</h5>
                    <a asp-action="Urunler" asp-controller="Admin" class="btn rounded-pill btn-dark">Vazgeç</a>
                    <button type="submit" class="btn rounded-pill btn-danger">Sil</button>
                </div>
            </form>
        </div>
    </div>
</div>