   <header id="header" class="fixed-top d-flex align-items-center header-transparent">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <div class="logo me-auto">
                <h1><a href="index.html">Paradise Cafe</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="~/assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Anasayfa</a></li>
                    <li><a class="nav-link scrollto" href="#about">Hakkımızda</a></li>
                    <li><a class="nav-link scrollto" asp-controller="Menu" asp-action="Index">Menü</a></li>
                    <li><a class="nav-link scrollto" href="#specials">Spesiyaller</a></li>
                    <li><a class="nav-link scrollto" href="#events">Etkinlikler</a></li>
                    <li><a class="nav-link scrollto" href="#chefs">Şefler</a></li>
                    <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
        
                    <li><a class="nav-link scrollto" href="#contact">İletişim</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <a href="#book-a-table" class="book-a-table-btn scrollto">Rezervasyon</a>

        </div>
    </header>