@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h5 class="card-header">Events</h5>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="EventsEkle">
                 

                    <input name="Foto" class="form-control mb-3 mt-3" type="file" id="formFile" required>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Baslik" id="Baslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Baslik">Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" step="any" class="form-control" name="Fiyat" id="Fiyat" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Fiyat">Fiyat</label>

                    </div>
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Aciklama1" id="Aciklama1" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Aciklama1">Açıklama 1</label>

                    </div>
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Madde1" id="Madde1" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Madde1">Madde 1</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Madde2" id="Madde2" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Madde2">Madde 2</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Madde3" id="Madde3" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Madde3">Madde 3</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Aciklama2" id="Aciklama2" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Aciklama2">Açıklama 2</label>

                    </div>



                    <div class="text-center row">
                        <div class="col-md-10">       <button type="submit" class="btn rounded-pill btn-dark w-100 mb-3">Kaydet</button></div>

                        <div class="col-md-2">
                            <a class="btn rounded-pill btn-secondary w-100" asp-controller="Admin" asp-action="Events">Vazgeç</a>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>