@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h5 class="card-header">Galeri - Ekle</h5>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="GalleryEkle">
                    <input name="Foto" class="form-control mb-3 mt-3" type="file" id="formFile" required>
                    <div class="text-center row">
                        <div class="col-md-10"><button type="submit" class="btn rounded-pill btn-dark w-100 mb-3">Kaydet</button></div>

                        <div class="col-md-2">
                            <a class="btn rounded-pill btn-secondary w-100" asp-controller="Admin" asp-action="Gallery">Vazgeç</a>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>