@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h5 class="card-header">Slider - Ekle</h5>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="HeroEkle">
                 

                    <input name="Foto" class="form-control mb-3 mt-3" type="file" id="formFile">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Baslik" id="Baslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Baslik">Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="Aciklama" id="Aciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Aciklama">Açıklama</label>

                    </div>
                    <div class="text-center row">
                        <div class="col-md-10">       <button type="submit" class="btn rounded-pill btn-dark w-100 mb-3">Kaydet</button></div>

                        <div class="col-md-2">
                            <a class="btn rounded-pill btn-secondary w-100" asp-controller="Admin" asp-action="Hero">Vazgeç</a>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>