@model Proje.Models.Entities.Topbar
@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h5 class="card-header">Iletisim Bilgileri</h5>
               @if (TempData["Alert"] != null)
        {
            <div class="alert alert-success">
                @TempData["Alert"]
            </div>
        }
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="IletisimBilgileri">
                    <input type="hidden" asp-for="Id" name="Id" />
                    <div class="form-floating mb-3">
                        <input asp-for="Telefon" type="text" class="form-control" name="Telefon" id="Telefon" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Telefon">Telefon</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Email" type="email" class="form-control" name="Email" id="Email" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Email">Email</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Adres" type="text" class="form-control" name="Adres" id="Adres" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Adres">Adres</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Saat" type="text" class="form-control" name="Saat" id="Saat" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Saat">Saatler</label>

                    </div>
                    <div class="text-center row">
                         <button type="submit" class="btn rounded-pill btn-dark w-100 mb-3">Kaydet</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>