@model Proje.Models.Entities.Title
@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Bootstrap Table with Header - Light -->
        <div class="card mb-4">
            <h5 class="card-header">Başlıklar</h5>

            <div class="card-body">
                @if (TempData["Alert"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Alert"]
                    </div>
                }
                <form method="post" asp-controller="Admin" asp-action="Titles">
                    <input type="hidden" name="Id" asp-for="Id" />
                    <div class="form-floating mb-3">

                        <input type="text" class="form-control" name="WhyUsBaslik" id="WhyUsBaslik" asp-for="WhyUsBaslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="WhyUsBaslik">Neden Biz ? - Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="WhyUsAciklama" id="WhyUsAciklama" asp-for="WhyUsAciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="WhyUsAciklama">Neden Biz ? - Açıklama</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="SpecialsBaslik" asp-for="SpecialsBaslik" id="SpecialsBaslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="SpecialsBaslik">Specials - Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="SpecialsAciklama" asp-for="SpecialsAciklama" id="SpecialsAciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="SpecialsAciklama">Specials - Açıklama</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="GalleryBaslik" asp-for="GalleryBaslik" id="GalleryBaslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="GalleryBaslik">Galeri - Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="GalleryAciklama" asp-for="GalleryAciklama" id="GalleryAciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="GalleryAciklama">Galeri - Açıklama</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="ContactBaslik" asp-for="ContactBaslik" id="ContactBaslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="ContactBaslik">İletişim - Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="ContactAciklama" asp-for="ContactAciklama" id="ContactAciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="ContactAciklama">İletişim - Açıklama</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="ChefsBaslik" asp-for="ChefsBaslik" id="ChefsBaslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="ChefsBaslik">Şefler - Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="ChefsAciklama" asp-for="ChefsAciklama" id="ChefsAciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="ChefsAciklama">Şefler - Açıklama</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="BooktableBaslik" asp-for="BooktableBaslik" id="BooktableBaslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="BooktableBaslik">Rezervasyon - Başlık</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="BooktableAciklama" asp-for="BooktableAciklama" id="BooktableAciklama" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="BooktableAciklama">Rezervasyon - Açıklama</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="EventsBaslik" asp-for="EventsBaslik" id="EventsBaslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="EventsBaslik">Etkinlikler - Başlık</label>

                    </div>
                    @*      @if (TempData["Alert"] != null)
                    {
                    <div class="alert alert-danger">
                    @TempData["Alert"]
                    </div>
                    }*@
                    <div class="text-center">
                        <button type="submit" class="btn rounded-pill btn-dark w-100">Kaydet</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>