@model Proje.Models.Entities.About
@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h5 class="card-header">Hakkımızda</h5>

            <div class="card-body">
                @if (TempData["Alert"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["Alert"]
                    </div>
                }
                <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="About">
                    <input type="hidden" asp-for="Id" name="Id" />
                    <input type="hidden" asp-for="Image" name="Image" />
                    <div class="text-center"><img style="max-width:300px;" src="~/assets/img/@Model.Image"></div>

                    <input name="Foto" asp-for="Image" class="form-control mb-3 mt-3" type="file" id="Image">
                    <div class="form-floating mb-3">
                        <input asp-for="YoutubeLink" type="text" class="form-control" name="YoutubeLink" id="YoutubeLink" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="YoutubeLink">YoutubeLink</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Baslik" type="text" class="form-control" name="Baslik" id="Baslik" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Baslik">Baslik</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Aciklama1" type="text" class="form-control" name="Aciklama1" id="Aciklama1" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Aciklama1">Aciklama1</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Aciklama2" type="text" class="form-control" name="Aciklama2" id="Aciklama2" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Aciklama2">Aciklama2</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Madde1" type="text" class="form-control" name="Madde1" id="Madde1" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Madde1">Madde1</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Madde2" type="text" class="form-control" name="Madde2" id="Madde2" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Madde2">Madde2</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Madde3" type="text" class="form-control" name="Madde3" id="Madde3" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Madde3">Madde3</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Aciklama3" type="text" class="form-control" name="Aciklama3" id="Aciklama3" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Aciklama3">Aciklama3</label>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn rounded-pill btn-dark w-100">Kaydet</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

