@model Proje.Models.Entities.Testimonial
@{
    Layout = "~/Views/Shared/Admin/Admin_Layout.cshtml";

}
<div class="content-wrapper">

    <div class="container-xxl flex-grow-1 container-p-y">

        <div class="card mb-4">
            <h5 class="card-header">Referanslar - Düzenle</h5>

            <div class="card-body">
                <form enctype="multipart/form-data" method="post" asp-controller="Admin" asp-action="TestimonialsDuzenle">
                    <input type="hidden" asp-for="Id" name="Id" />

                    <div class="text-center"><img style="max-width:150px;" src="~/assets/img/testimonials/@Model.Image"></div>

                    <input name="Foto" asp-for="Image" class="form-control mb-3 mt-3" type="file" id="Image">
                    <div class="form-floating mb-3">
                        <input asp-for="Name" type="text" class="form-control" name="Name" id="Name" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Name">İsim</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Title" type="text" class="form-control" name="Title" id="Title" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Title">Ünvan</label>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Text" type="text" class="form-control" name="Text" id="Text" aria-describedby="floatingInputHelp" placeholder=" " required>
                        <label for="Text">Yorum</label>

                    </div>
                    <div class="text-center row">
                        <div class="col-md-10">       <button type="submit" class="btn rounded-pill btn-dark w-100 mb-3">Kaydet</button></div>

                        <div class="col-md-2">
                            <a class="btn rounded-pill btn-secondary w-100" asp-controller="Admin" asp-action="Testimonials">Vazgeç</a>
                        </div>
                    </div>


                </form>
            </div>

        </div>
    </div>
</div>