@model Proje.Models.IndexViewModel
@if (Model.Testimonials.Count()>0)
{
    

<section id="testimonials" class="testimonials">
    <div class="container position-relative">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Testimonials)
                {


                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="~/assets/img/testimonials/@item.Image" class="testimonial-img" alt="">
                            <h3>@item.Name</h3>
                            <h4>@item.Title</h4>
                            <div class="stars">
                                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                            </div>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                @item.Text
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div> 
                }







            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
}